.big-button {
    background: $purple;
    border: none;
    border-bottom: .4rem solid darken($purple, 10%);
    border-radius: 0.5rem;
    color: $off-black;
    font-size: $l-size;
    font-weight: bold;
    width: 100%;
    margin-bottom: $m-size;
    padding: 1.6rem;
}

.big-button:hover {
    background-color: darken($purple, 10%);
}

.big-button:disabled {
    opacity: 0.5;
}

.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    border-radius: 0.5rem;
    color: $off-black;
    font-weight: 500;
    padding: $s-size;
}

.button:hover {
    background-color: darken($purple, 10%);
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

.button--link:hover {
    background-color: darken($dark-blue, 10%);
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
    }